*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto, 1fr auto;
}
.alimentos{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(4fr, 1fr));
    gap: 20px;
    margin-bottom: 3vh;
    text-align: justify;
}

/* --------------------------------------------------------- Estilos del header y footer ------------------------------------------------------- */
.snacks{ /* h2 del header */
    color: rgb(6, 6, 6); /* Color de texto */
    text-shadow: rgb(244, 242, 242) 5px 2px 4px; /* Añade sombra al texto */
    text-align: center; /* Alinea el texto al centro */
    letter-spacing: 10px; /* Espaciado entre las letras */
    font-size: 3rem; /* Tamaño de la fuente */
}

header{
    /*background: linear-gradient(to bottom right, #153448, #91b5cd); /* color del fondo del header */
    background-image: url(src/img/Alimentos2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px; /* Borde radial */
    position: fixed; /*  */
    width: 100vw;
    z-index: 2;
}
footer{
    background: linear-gradient(to bottom right, #153448, #91b5cd); /* color de fondo del footer */
    font-size: xx-large; /* Tamaño de fuente del footer */
    letter-spacing: 10px; /* Espaciado entre letras */
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.redes-sociales a {
    color: #000;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}
.redes-sociales a:hover {
    color: #0077b5; /* Cambiar este color al color de la red social */
}
/*Estilos de la navbar*/
header nav{
    height: 10hv; /* Altura de la navbar */
    width: 100hw;
    background-color:  whitesmoke; /* Color de fondo */
    text-align: center; /* Alinea los elementos al centro */
    padding: 20px; /* Espacio entre el borde y el elemento */
    word-spacing: 20px; /* Espaciado entre letras */
    border-radius: 20px; /* Borde Radial */
    font-size: 1.4em; /* Tamaño de fuente */
}
header nav a {
    text-decoration: none; /* Quita la decoración de los elementos del navbar */
    color: black; /* Color del texto de la navbar */
}
header nav a:hover{
    background-color: #0077b5; /* Color del hover (cuando se pasas el mouse por encima) */
    border-radius: 5px; /* Borde radial al hocer (porque al aplicarlo no tiene las propiedades de los elementos de la navbar) */
    padding: 10px; /* Añade un efecto a la navbar, resaltando el elemento que estamos tocando */
    color: whitesmoke; /* Color cuando se hace click */
}
header nav a:active{
    color: black; /* Color cuando se hace click */
}

/* --------------------------------------------------------- Estilos de los alimentos ------------------------------------------------------- */
.combo{
    border: 1px solid rgb(194, 194, 194);
    text-align: left; /* Justifica el texto de la card */
    border-radius: 10px; /* Borde radial de la cards */
    padding: 1.5rem; /* Espaciado entre el borde y los elementos de la card */
    background-color: whitesmoke; /* Color de fondo */
}
.combo:hover{
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.titulo{
    background-color: #153448;
    color: whitesmoke;
    border-radius: 10px;
    width: auto;
    display: inline-block;
    font-size: 1.5rem;
    padding: 5px;
    opacity: 0.8;
}
.img-combo{
    width: 90%;
    padding: 10px;
    border-radius: 30px;
}
.descripcion-combo legend{
    color: #0c263b;
    font-weight: bold;
}
.descripcion-combo p{
    font-style: oblique;
}
label[for="tipo-combo"]{
    letter-spacing: 3px; /* Espaciado entre letras */
    color: #3078a8; /* Color del texto de la sinopsis */
    font-weight: bold;
}