*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Cuerpo responsivo */
body {
   /*background-col or: #f03030;*/
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(to bottom right, #5196c4, #91b5cd);
}

header {
    /*background-color: #070707;*/
    background-image: url("src/img/Alimentos1.jpg");
    padding: 20px;
    text-align: center;
    justify-content: center;
}
header img{
    width: auto;
    height: 35vh;
}

h1 {
    margin-bottom: 10px;
}

header .first-text{
    color: #070707;
}
header h1 .second-text{
    color: #ffffff;
}

fieldset {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    /*max-width: 600px;*/
    display: flex;
    flex-direction: row;
    text-align: left;
    width: auto;
}



input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #f03030;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0c263b;
}