*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cine-plus{ /* h2 del header */
    color: rgb(6, 6, 6); /* Color de texto */
    text-shadow: rgb(244, 242, 242) 5px 2px 4px; /* Añade sombra al texto */
    text-align: center; /* Alinea el texto al centro */
    letter-spacing: 10px; /* Espaciado entre las letras */
    font-size: 3rem; /* Tamaño de la fuente */
}
/* --------------------------------------------------------- Estilos del header y footer ------------------------------------------------------- */
.header{
    background: linear-gradient(to bottom right, #153448, #91b5cd); /* color del fondo del header */
    border-radius: 10px; /* Borde radial */
}
footer{
    background: linear-gradient(to bottom right, #153448, #91b5cd); /* color de fondo del footer */
    font-size: xx-large; /* Tamaño de fuente del footer */
    letter-spacing: 10px; /* Espaciado entre letras */
}
/*Estilos de la navbar*/
nav{
    height: 20px; /* Altura de la navbar */
    background-color:  whitesmoke; /* Color de fondo */
    text-align: center; /* Alinea los elementos al centro */
    padding: 20px; /* Espacio entre el borde y el elemento */
    word-spacing: 20px; /* Espaciado entre letras */
    border-radius: 20px; /* Borde Radial */
    font-size: 1.4em; /* Tamaño de fuente */
}
a {
    text-decoration: none; /* Quita la decoración de los elementos del navbar */
    color: black; /* Color del texto de la navbar */
}
a:hover{
    background-color: #f03030; /* Color del hover (cuando se pasas el mouse por encima) */
    border-radius: 5px; /* Borde radial al hocer (porque al aplicarlo no tiene las propiedades de los elementos de la navbar) */
    padding: 10px; /* Añade un efecto a la navbar, resaltando el elemento que estamos tocando */
}
a:active{
    color: whitesmoke; /* Color cuando se hace click */
}
/* --------------------------------------------------------- Estilos de la tabla de horarios ----------------------------------------------------- */ 
.horarios{
    text-align: center; /* Alinea los elementos al centro */
    position: relative; /* Posicion respecto al section */
    margin: 20px auto 20px auto; /* Margen para separar la tabla de la navbar y de las cards */
}
.horarios table{
    margin: 0 auto; /* Centra la tabla */
    box-shadow: 0 2px 15px rgba(0,0,0,0.1); /* añade una sombra a la tabla */
}

.horarios th, .horarios td {
    border: 1px solid #ddd; /* Bordes sutiles para las celdas */
    padding: 8px 12px; /* Espaciado interno para el contenido de las celdas */
    text-align: left; /* Alineación del texto a la izquierda */
    font-size: 0.9rem; /* Tamaño de letra de los elementos de la tabla */
}

.horarios th {
    background-color: #f8f8f8; /* Color de fondo para las cabeceras */
    color: #333; /* Color del texto oscuro para contraste */
}

.horarios tr:hover {
    background-color: #e8e8e8; /* Color de fondo al pasar el ratón */
}
/* --------------------------------------------------------- Estilos de las cards -------------------------------------------------------------*/
.uno{
    text-align: justify; /* Justifica el texto de la card */
    border: 1px solid rgb(194, 194, 194); /* Añade un borde a las cards */
    border-radius: 10px; /* Borde radial de la cards */
    padding: 1.5rem; /* Espaciado entre el borde y los elementos de la card */
    background-color: whitesmoke; /* Color de fondo */
}

.titulo{
    font-size: 25px; /* Tamaño de fuente del título de las películas */
    margin-bottom: 10px; /* Espacio entre el título y la imagen */
}
.descripcion legend{
    font-size:x-large; /* Tamaño de fuente de la Sinopsis */
    letter-spacing: 3px; /* Espaciado entre letras */
    color: #91b5cd; /* Color del texto de la sinopsis */
}
p{
    border: 2px solid crimson;
}
.img-vid iframe{
    width: 70%; /* Relación para el video de YT */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}
.img-pel{
    padding: 10px; /* Espaciado entre el borde de la card y la imagen de la pelicula */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}